services:
  backend:
    build: .
    container_name: backend
    mem_limit: 1g
    memswap_limit: 2g
    ports:
      - "5000:8000"
    environment:
      - FLASK_APP=app.backend.app
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_ENV=production
    command: gunicorn --bind 0.0.0.0:8000 --timeout 120 app:app
    networks:
      - app_network
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
